In [3]:
import numpy as np
import pandas as pd

In [5]:
D = pd.read_csv("DS_Sample_1.csv")

In [7]:
D.describe()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,926.000000,1000.000000,1000.000000
mean,10518.416000,2412.351396,0.906538,1652.230370,1054.210390,598.205220,1316.397606,0.521547,0.269678,0.376170,0.142861,3.500000,19.645000,6313.750000,2570.649055,1297.116322,0.129782,11.713000
std,299.190906,2795.390979,0.210538,3524.515043,2819.795174,1272.592078,2730.477215,0.406850,0.335454,0.407137,0.208752,7.647122,31.294669,4576.527947,4251.971043,2712.542504,0.278915,1.016693
min,10001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,0.000000,8.561540,0.000000,6.000000
25%,10258.750000,356.519939,1.000000,70.802500,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,2500.000000,502.218305,197.243952,0.000000,12.000000
50%,10521.500000,1464.258056,1.000000,564.445000,195.680000,100.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,9.000000,5000.000000,1236.370865,528.791003,0.000000,12.000000
75%,10776.250000,3421.553831,1.000000,1703.477500,1030.047500,688.080000,1623.252433,1.000000,0.416667,0.833333,0.250000,4.000000,24.000000,9000.000000,2841.838133,1368.612788,0.083333,12.000000
max,11033.000000,19043.138560,1.000000,49039.570000,40761.250000,12560.850000,27296.485760,1.000000,1.000000,1.000000,1.250000,123.000000,229.000000,28000.000000,46930.598240,38512.124770,1.000000,12.000000

In [8]:
D.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           1000 non-null   float64
 1   BALANCE                           1000 non-null   float64
 2   BALANCE_FREQUENCY                 1000 non-null   float64
 3   PURCHASES                         1000 non-null   float64
 4   ONEOFF_PURCHASES                  1000 non-null   float64
 5   INSTALLMENTS_PURCHASES            1000 non-null   float64
 6   CASH_ADVANCE                      1000 non-null   float64
 7   PURCHASES_FREQUENCY               1000 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        1000 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  1000 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            1000 non-null   float64
 11  CASH_ADVANCE_TRX                  1000 non-null   float64
 12  PURCHASES_TRX                     1000 non-null   float64
 13  CREDIT_LIMIT                      1000 non-null   float64
 14  PAYMENTS                          1000 non-null   float64
 15  MINIMUM_PAYMENTS                  926 non-null    float64
 16  PRC_FULL_PAYMENT                  1000 non-null   float64
 17  TENURE                            1000 non-null   float64
dtypes: float64(18)
memory usage: 140.8 KB

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
imputer = SimpleImputer( strategy='mean')

In [12]:
imputer.fit(D)

SimpleImputer()

In [16]:
card1 = pd.DataFrame(imputer.transform(D), columns = D.columns)

In [17]:
card1

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,10001.0,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
1,10002.0,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
2,10003.0,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
3,10004.0,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,1297.116322,0.000000,12.0
4,10005.0,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11029.0,1250.394614,0.909091,443.99,443.99,0.00,0.000000,0.272727,0.272727,0.000000,0.000000,0.0,3.0,3500.0,273.823646,259.715939,0.000000,11.0
996,11030.0,9.503968,1.000000,96.62,0.00,96.62,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,19.0,4500.0,1086.932525,92.217936,0.250000,12.0
997,11031.0,2285.068731,1.000000,0.00,0.00,0.00,1173.310874,0.000000,0.000000,0.000000,0.166667,5.0,0.0,2500.0,381.672065,1003.265207,0.000000,12.0
998,11032.0,2928.756699,1.000000,160.92,0.00,160.92,319.931964,1.000000,0.000000,1.000000,0.333333,5.0,12.0,3000.0,1142.847203,1098.479834,0.000000,12.0
999,11033.0,1460.178578,1.000000,937.96,100.00,837.96,0.000000,1.000000,0.083333,1.000000,0.000000,0.0,40.0,1500.0,1186.859701,1320.855292,0.000000,12.0

In [19]:
D.MINIMUM_PAYMENTS.mean()

1297.1163216976258

In [22]:
card1[['BALANCE', 'CREDIT_LIMIT']].corr()

               BALANCE  CREDIT_LIMIT
BALANCE       1.000000      0.467646
CREDIT_LIMIT  0.467646      1.000000

In [30]:
card1.groupby('TENURE')[['BALANCE', 'CREDIT_LIMIT']].corr()

                      BALANCE  CREDIT_LIMIT
TENURE
6.0    BALANCE       1.000000      0.868056
       CREDIT_LIMIT  0.868056      1.000000
7.0    BALANCE       1.000000      0.948405
       CREDIT_LIMIT  0.948405      1.000000
8.0    BALANCE       1.000000      0.820696
       CREDIT_LIMIT  0.820696      1.000000
9.0    BALANCE       1.000000      0.085474
       CREDIT_LIMIT  0.085474      1.000000
10.0   BALANCE       1.000000      0.291482
       CREDIT_LIMIT  0.291482      1.000000
11.0   BALANCE       1.000000      0.380360
       CREDIT_LIMIT  0.380360      1.000000
12.0   BALANCE       1.000000      0.460833
       CREDIT_LIMIT  0.460833      1.000000

In [35]:
from sklearn.cluster import KMeans

In [36]:
df2 = card1.drop(['CUST_ID'], axis = 1)

In [37]:
df2

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
1,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
2,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
3,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,1297.116322,0.000000,12.0
4,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1250.394614,0.909091,443.99,443.99,0.00,0.000000,0.272727,0.272727,0.000000,0.000000,0.0,3.0,3500.0,273.823646,259.715939,0.000000,11.0
996,9.503968,1.000000,96.62,0.00,96.62,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,19.0,4500.0,1086.932525,92.217936,0.250000,12.0
997,2285.068731,1.000000,0.00,0.00,0.00,1173.310874,0.000000,0.000000,0.000000,0.166667,5.0,0.0,2500.0,381.672065,1003.265207,0.000000,12.0
998,2928.756699,1.000000,160.92,0.00,160.92,319.931964,1.000000,0.000000,1.000000,0.333333,5.0,12.0,3000.0,1142.847203,1098.479834,0.000000,12.0
999,1460.178578,1.000000,937.96,100.00,837.96,0.000000,1.000000,0.083333,1.000000,0.000000,0.0,40.0,1500.0,1186.859701,1320.855292,0.000000,12.0

In [40]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [52]:
scaler = StandardScaler()

In [53]:
scaled = scaler.fit_transform(card1.drop(['CUST_ID'], axis = 1))

In [54]:
scaled

array([[-0.84876759, -0.41987944, -0.4419358 , ..., -0.44372465,
        -0.46554357,  0.28242902],
       [ 0.28279099,  0.01213096, -0.4690169 , ..., -0.08615941,
         0.33159169,  0.28242902],
       [ 0.0296341 ,  0.44414137, -0.24953794, ..., -0.25675456,
        -0.46554357,  0.28242902],
       ...,
       [-0.04555583,  0.44414137, -0.4690169 , ..., -0.1126367 ,
        -0.46554357,  0.28242902],
       [ 0.18482699,  0.44414137, -0.4233367 , ..., -0.07613978,
        -0.46554357,  0.28242902],
       [-0.34079285,  0.44414137, -0.20275918, ...,  0.00909944,
        -0.46554357,  0.28242902]])

In [55]:
clt = KMeans(n_clusters = 2, random_state=1234)

In [56]:
clt.fit(scaled)

KMeans(n_clusters=2, random_state=1234)

In [57]:
clt.labels_

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [58]:
from sklearn.metrics import silhouette_samples, silhouette_score

In [75]:
for n_clst in (2,3,4,5):
    clt = KMeans(n_clusters = n_clst, random_state=1234)
    clt.fit(scaled)
    svals = silhouette_samples(scaled, clt.labels_)
    print ( n_clst, silhouette_score(scaled, clt.labels_), svals.mean() )

2 0.3075281530456079 0.3075281530456079
3 0.19636128772937608 0.19636128772937608
4 0.20728688025661973 0.20728688025661973
5 0.19244737591522892 0.19244737591522892

In [67]:
clt = KMeans(n_clusters = 2, random_state=1234)
clt.fit(scaled)

KMeans(n_clusters=2, random_state=1234)

In [68]:
silhouette_score(scaled, clt.labels_)

0.3075281530456079

In [70]:
card1['label'] = clt.labels_

In [74]:
card1.groupby(by="label").ONEOFF_PURCHASES.mean()

label
0     340.230998
1    3946.187525
Name: ONEOFF_PURCHASES, dtype: float64

In [77]:
D['CUST_ID'] = D.CUST_ID.astype(int)

In [82]:
D['SET'] = np.where(D.CUST_ID % 4 == 0, "TEST", "TRAIN")

In [83]:
D

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,SET
0,10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0,TRAIN
1,10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0,TRAIN
2,10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0,TRAIN
3,10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,NaN,0.000000,12.0,TEST
4,10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0,TRAIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11029,1250.394614,0.909091,443.99,443.99,0.00,0.000000,0.272727,0.272727,0.000000,0.000000,0.0,3.0,3500.0,273.823646,259.715939,0.000000,11.0,TRAIN
996,11030,9.503968,1.000000,96.62,0.00,96.62,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,19.0,4500.0,1086.932525,92.217936,0.250000,12.0,TRAIN
997,11031,2285.068731,1.000000,0.00,0.00,0.00,1173.310874,0.000000,0.000000,0.000000,0.166667,5.0,0.0,2500.0,381.672065,1003.265207,0.000000,12.0,TRAIN
998,11032,2928.756699,1.000000,160.92,0.00,160.92,319.931964,1.000000,0.000000,1.000000,0.333333,5.0,12.0,3000.0,1142.847203,1098.479834,0.000000,12.0,TEST
999,11033,1460.178578,1.000000,937.96,100.00,837.96,0.000000,1.000000,0.083333,1.000000,0.000000,0.0,40.0,1500.0,1186.859701,1320.855292,0.000000,12.0,TRAIN

In [84]:
from sklearn.tree import DecisionTreeRegressor

In [86]:
reg = DecisionTreeRegressor (random_state = 1234)

In [87]:
D.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE', 'SET'],
      dtype='object')

In [88]:
indeps = [
'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES', 
'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE', 'PURCHASES_FREQUENCY', 
'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 
'PAYMENTS','MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 
'TENURE']

In [96]:
D[(D['SET'] == "TRAIN")][indeps]

,BALANCE,BALANCE_FREQUENCY,PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,40.900749,0.818182,95.40,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
1,3202.467416,0.909091,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
2,2495.148862,1.000000,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
4,817.714335,1.000000,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
5,1809.828751,1.000000,1333.28,1333.28,0.000000,0.666667,0.000000,0.583333,0.000000,0.0,8.0,1800.0,1400.057770,2407.246035,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,2845.160430,0.727273,735.09,82.15,0.000000,0.666667,0.250000,0.333333,0.000000,0.0,8.0,10500.0,6006.492582,888.901116,0.000000,12.0
995,1250.394614,0.909091,443.99,0.00,0.000000,0.272727,0.272727,0.000000,0.000000,0.0,3.0,3500.0,273.823646,259.715939,0.000000,11.0
996,9.503968,1.000000,96.62,96.62,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,19.0,4500.0,1086.932525,92.217936,0.250000,12.0
997,2285.068731,1.000000,0.00,0.00,1173.310874,0.000000,0.000000,0.000000,0.166667,5.0,0.0,2500.0,381.672065,1003.265207,0.000000,12.0
999,1460.178578,1.000000,937.96,837.96,0.000000,1.000000,0.083333,1.000000,0.000000,0.0,40.0,1500.0,1186.859701,1320.855292,0.000000,12.0

In [99]:
reg.fit(card1[(D['SET'] == "TRAIN")][indeps], card1[(D['SET'] == "TRAIN")].ONEOFF_PURCHASES)

DecisionTreeRegressor(random_state=1234)

In [100]:
predicted = reg.predict(card1[(D['SET'] == "TEST")][indeps])

In [101]:
predicted

array([1.500000e+03, 0.000000e+00, 1.490000e+03, 0.000000e+00,
       0.000000e+00, 3.322280e+03, 0.000000e+00, 3.515400e+02,
       0.000000e+00, 8.863700e+02, 2.020000e+02, 0.000000e+00,
       6.614900e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       2.870000e+02, 1.386400e+03, 5.719100e+02, 5.000000e+00,
       4.783340e+03, 1.282850e+03, 3.260200e+02, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       6.159900e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       9.695600e+02, 0.000000e+00, 2.225739e+04, 0.000000e+00,
       0.000000e+00, 1.234000e+03, 8.324900e+02, 6.099160e+03,
       1.850000e+02, 0.000000e+00, 0.000000e+00, 3.161460e+03,
       2.220390e+03, 0.000000e+00, 0.000000e+00, 3.132700e+02,
       0.000000e+00, 1.085190e+03, 3.200300e+02, 4.100080e+03,
       9.000000e+02, 0.000000e+00, 1.674000e+02, 3.322280e+03,
       1.383740e+03, 1.136700e+03, 0.000000e+00, 1.180000e+03,
       1.776400e+02, 5.786600e+02, 0.000000e+00, 0.000000e+00,
       9.228400e+02, 2.900000e+02, 6.300400e+03, 2.303297e+04,
       3.850000e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 1.136700e+03, 4.206000e+02,
       3.200300e+02, 0.000000e+00, 1.265700e+02, 1.996500e+02,
       0.000000e+00, 2.426430e+03, 1.013200e+03, 4.768270e+03,
       2.327490e+03, 5.400000e+01, 0.000000e+00, 4.577300e+02,
       1.795600e+02, 6.000000e+02, 4.439900e+02, 0.000000e+00,
       0.000000e+00, 2.643530e+03, 0.000000e+00, 2.000000e+01,
       0.000000e+00, 1.000000e+02, 0.000000e+00, 0.000000e+00,
       1.996500e+02, 1.818100e+02, 2.104300e+02, 3.432100e+02,
       2.074160e+03, 0.000000e+00, 1.130000e+02, 1.386400e+03,
       0.000000e+00, 2.503200e+02, 2.506890e+03, 1.494500e+03,
       1.229000e+03, 4.288000e+01, 0.000000e+00, 0.000000e+00,
       1.641070e+03, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       1.544790e+03, 6.529400e+02, 0.000000e+00, 7.341100e+02,
       0.000000e+00, 1.777140e+03, 6.499000e+01, 0.000000e+00,
       5.416800e+02, 4.584780e+03, 3.000000e+02, 1.100000e+02,
       4.944880e+03, 0.000000e+00, 6.402630e+03, 4.768270e+03,
       2.283500e+02, 0.000000e+00, 4.192800e+03, 0.000000e+00,
       2.462000e+02, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       1.092953e+04, 3.200300e+02, 1.092953e+04, 0.000000e+00,
       0.000000e+00, 3.991500e+02, 0.000000e+00, 1.130000e+02,
       0.000000e+00, 4.100080e+03, 4.288000e+01, 1.036190e+03,
       0.000000e+00, 4.590200e+02, 2.303600e+03, 4.113800e+02,
       0.000000e+00, 0.000000e+00, 4.719500e+03, 3.183000e+03,
       4.820000e+02, 1.246244e+04, 0.000000e+00, 3.352280e+03,
       3.617300e+02, 0.000000e+00, 2.011810e+03, 1.670500e+03,
       0.000000e+00, 0.000000e+00, 1.180000e+03, 7.141380e+03,
       0.000000e+00, 7.694000e+01, 0.000000e+00, 2.904890e+03,
       6.905700e+02, 3.016980e+03, 8.011900e+02, 0.000000e+00,
       0.000000e+00, 2.417410e+03, 0.000000e+00, 0.000000e+00,
       0.000000e+00, 7.731700e+02, 0.000000e+00, 8.902000e+02,
       2.700000e+02, 1.307160e+03, 8.151100e+02, 2.800000e+01,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       1.670500e+03, 1.106000e+01, 0.000000e+00, 0.000000e+00,
       1.100000e+02, 7.694000e+01, 3.607000e+02, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 1.386400e+03,
       0.000000e+00, 2.052750e+03, 3.161460e+03, 0.000000e+00,
       0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
       3.000000e+02, 2.905710e+03, 7.480000e+01, 1.481200e+02,
       2.950000e+02, 7.206000e+02, 3.183000e+03, 6.159900e+02,
       2.337440e+03, 2.230000e+02, 1.229000e+03, 1.674000e+02,
       6.402630e+03, 0.000000e+00, 7.341100e+02, 2.262300e+02,
       1.307160e+03, 8.584800e+02, 0.000000e+00, 6.514000e+02,
       2.225739e+04, 7.694000e+01, 2.700000e+02, 1.540410e+03,
       0.000000e+00, 1.282850e+03, 0.000000e+00, 0.000000e+00])

In [102]:
from sklearn.metrics import mean_squared_error

In [103]:
mean_squared_error(card1[(D['SET'] == "TEST")].ONEOFF_PURCHASES, predicted)

1079924.1015294355

In [104]:
np.sqrt(mean_squared_error(card1[(D['SET'] == "TEST")].ONEOFF_PURCHASES, predicted))

1039.193967231063

In [108]:
pd.DataFrame( {'true': card1[(D['SET'] == "TEST")].ONEOFF_PURCHASES , 'predicted':predicted })

        true  predicted
3    1499.00    1500.00
7       0.00       0.00
11   1492.18    1490.00
15      0.00       0.00
19      0.00       0.00
..       ...        ...
982  1864.11    1540.41
986     0.00       0.00
990  1375.50    1282.85
994     0.00       0.00
998     0.00       0.00

[248 rows x 2 columns]

0.3075281530456079

In [47]:
pipe = Pipeline(steps = [
    ('scaler', scaler), 
    ('cluster', cluster)])

In [49]:
pipe.fit_transform(card1.drop(['CUST_ID'], axis = 1))

ValueError: '1234' cannot be used to seed a numpy.random.RandomState instance

In [14]:
card1

array([[1.00010000e+04, 4.09007490e+01, 8.18182000e-01, ...,
        1.39509787e+02, 0.00000000e+00, 1.20000000e+01],
       [1.00020000e+04, 3.20246742e+03, 9.09091000e-01, ...,
        1.07234022e+03, 2.22222000e-01, 1.20000000e+01],
       [1.00030000e+04, 2.49514886e+03, 1.00000000e+00, ...,
        6.27284787e+02, 0.00000000e+00, 1.20000000e+01],
       ...,
       [1.10310000e+04, 2.28506873e+03, 1.00000000e+00, ...,
        1.00326521e+03, 0.00000000e+00, 1.20000000e+01],
       [1.10320000e+04, 2.92875670e+03, 1.00000000e+00, ...,
        1.09847983e+03, 0.00000000e+00, 1.20000000e+01],
       [1.10330000e+04, 1.46017858e+03, 1.00000000e+00, ...,
        1.32085529e+03, 0.00000000e+00, 1.20000000e+01]])

In [2]:
for dx, dy in [(1, 0), (-1, 0), (0, 1), (0, -1)]:
    print(dx, dy)

1 0
-1 0
0 1
0 -1