https://blog.naver.com/ostin1038/222104311307

In [35]:
import pandas as pd
df1 = pd.read_csv('data/file_2005.csv')
df2 = pd.read_csv('data/file_2006.csv')

In [36]:
df1['mon'] = '5월'
df2['mon'] = '6월'
df = pd.concat([df1,df2])
df1.shape, df2.shape, df.shape

((11599, 11), (11643, 11), (23242, 11))

In [38]:
df = df.loc[ (df.code != '999999') & (df.code != ' ')]
df.shape

(20069, 11)

In [40]:
df['code'].values

array(['323001', '341001', '293001', ..., '452125', '701201', '452104'],
      dtype=object)

In [41]:
df.code.value_counts()

701201    938
343000    848
722000    844
851101    816
321000    746
         ...
210206      1
343007      1
921402      1
191201      1
293005      1
Name: code, Length: 664, dtype: int64

Q1

In [42]:
df.groupby(by='code').sum().sort_values(by='new_cnt', ascending=False)

        condition  type  total_cnt          amt  new_cnt  loss_cnt
code
701201        940   938     251907  59416323140    18226     11388
452104        295   295      85852  27562690380    17339      4123
851101        816   816     323757  93182871620    12110      8157
749100        303   303     161613  30688131180    10764     12931
749300        371   371     176653  38163092400     8761      7612
...           ...   ...        ...          ...      ...       ...
171107          2     2        218     78925320        0         3
281101          2     2        212     74331200        0         1
511114          2     2        222     84142480        0         1
155203          2     2        204     73720360        0         0
921903          2     2        477    126499700        0         2

[664 rows x 6 columns]

In [43]:
df.groupby(by=['mon','code']).sum().sort_values(by='new_cnt', ascending=False)

            condition  type  total_cnt          amt  new_cnt  loss_cnt
mon code
6월  701201        484   483     129710  30233724480     9560      7623
    452104        149   149      45803  14775181880     9226      1576
5월  701201        456   455     122197  29182598660     8666      3765
    452104        146   146      40049  12787508500     8113      2547
    851101        408   408     161136  46378870980     7110      3692
...               ...   ...        ...          ...      ...       ...
    921903          1     1        239     63784400        0         1
    513312          1     1        100     32948560        0         1
    922103          1     1        138     36485880        0         4
    269402          1     1        204     72891020        0         2
6월  311006          1     1        137     56142100        0         6

[1309 rows x 6 columns]

Q2

In [44]:
df.head()

,company,condition,street,type,code,code_name,total_cnt,amt,new_cnt,loss_cnt,mon
0,삼성전자(주),1,경기도 수원시 영통구 매탄동,1,323001,비디오 및 기타 영상 기기 제조업,103250,44041891900,1329,440,5월
1,현대자동차(주),1,서울특별시 서초구 양재동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,67846,28633518000,253,241,5월
2,엘지전자(주),1,서울특별시 영등포구 여의도동,1,293001,주방용 전기 기기 제조업,40201,16477762420,157,217,5월
3,에스케이하이닉스 주식회사,1,경기도 이천시 부발읍,1,300100,컴퓨터 제조업,27828,11574140540,136,126,5월
4,(주)이마트,1,서울특별시 성동구 성수동2가,1,521911,기타 대형 종합 소매업,27414,6386628020,523,324,5월

In [46]:
df['region'] = df['street'].apply(lambda x: x.split(' ')[0])
df.head()

,company,condition,street,type,code,code_name,total_cnt,amt,new_cnt,loss_cnt,mon,region
0,삼성전자(주),1,경기도 수원시 영통구 매탄동,1,323001,비디오 및 기타 영상 기기 제조업,103250,44041891900,1329,440,5월,경기도
1,현대자동차(주),1,서울특별시 서초구 양재동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,67846,28633518000,253,241,5월,서울특별시
2,엘지전자(주),1,서울특별시 영등포구 여의도동,1,293001,주방용 전기 기기 제조업,40201,16477762420,157,217,5월,서울특별시
3,에스케이하이닉스 주식회사,1,경기도 이천시 부발읍,1,300100,컴퓨터 제조업,27828,11574140540,136,126,5월,경기도
4,(주)이마트,1,서울특별시 성동구 성수동2가,1,521911,기타 대형 종합 소매업,27414,6386628020,523,324,5월,서울특별시

In [52]:
df[df.mon == '6월'].total_cnt.sum()

4309626

In [53]:
df[(df.mon == '6월') & (df.region=='서울특별시') ].total_cnt.sum()

1989640

In [54]:
df[(df.mon == '6월') & (df.region=='서울특별시') ].total_cnt.sum() / df[df.mon == '6월'].total_cnt.sum()

0.4616734723616388

Q3 5월 기준 가입자수 기준으로 50위까지 확인하고, 50위까지의 사업장 대응표본 T검정을 통해 가입자수 평균 차이가 생겼는지 확인하라
(등분산, 정규성은 가지고 있다고 가정하고 진행한다.
 귀무가설을 기각 하는 지 여부와 함께 t-value 값을 소수 셋째자리 반올림, 둘째자리까지 나타내라)

In [56]:
df[df.mon=='5월'].sort_values(by='total_cnt', ascending=False).head(50)

,company,condition,street,type,code,code_name,total_cnt,amt,new_cnt,loss_cnt,mon,region
0,삼성전자(주),1,경기도 수원시 영통구 매탄동,1,323001,비디오 및 기타 영상 기기 제조업,103250,44041891900,1329,440,5월,경기도
1,현대자동차(주),1,서울특별시 서초구 양재동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,67846,28633518000,253,241,5월,서울특별시
2,엘지전자(주),1,서울특별시 영등포구 여의도동,1,293001,주방용 전기 기기 제조업,40201,16477762420,157,217,5월,서울특별시
3,에스케이하이닉스 주식회사,1,경기도 이천시 부발읍,1,300100,컴퓨터 제조업,27828,11574140540,136,126,5월,경기도
4,(주)이마트,1,서울특별시 성동구 성수동2가,1,521911,기타 대형 종합 소매업,27414,6386628020,523,324,5월,서울특별시
5,엘지디스플레이(주),1,서울특별시 영등포구 여의도동,1,321000,기타 반도체 소자 제조업,26825,11336706000,180,99,5월,서울특별시
6,삼성디스플레이(주),1,경기도 용인시 기흥구 농서동,1,323001,비디오 및 기타 영상 기기 제조업,23348,10000116660,113,125,5월,경기도
7,주식회사 케이티,1,경기도 성남시 분당구 정자동,1,642001,무선 및 위성 통신업,22724,9710283580,49,97,5월,경기도
8,한국전력공사,1,전라남도 나주시 빛가람동,1,401000,태양력 발전업,22537,8918895080,43,96,5월,전라남도
9,홈플러스(주),1,서울특별시 강서구 등촌동,1,522071,기타 음ㆍ식료품 위주 종합 소매업,21686,4657510960,117,199,5월,서울특별시
10,(주)엘지화학,1,서울특별시 영등포구 여의도동,1,241302,합성수지 및 기타 플라스틱 물질 제조업,20532,8511804780,13,42,5월,서울특별시
11,대한항공(주),1,서울특별시 강서구 공항동,1,621000,항공 여객 운송업,18142,7448366920,96,579,5월,서울특별시
12,(주)포스코,1,경상북도 포항시 남구 괴동동,1,271101,제철업,17417,7387857560,45,80,5월,경상북도
13,한국철도공사,1,대전광역시 동구 소제동,1,601000,도시철도 운송업,17195,5870655620,82,38,5월,대전광역시
14,국민은행(주),1,서울특별시 영등포구 여의도동,1,659900,기타 금융 투자업,16935,6935039420,77,125,5월,서울특별시
15,농협은행주식회사,1,서울특별시 중구 충정로1가,1,659201,국내은행,16743,6452041440,169,135,5월,서울특별시
16,서울교통공사,1,서울특별시 성동구 용답동,1,601000,도시철도 운송업,16453,6548110840,61,71,5월,서울특별시
17,스타벅스커피코리아(주),1,서울특별시 중구 소공동,1,512273,커피 및 차류 도매업,15954,2525880300,236,377,5월,서울특별시
18,국민건강보험공단,1,강원도 원주시 반곡동,1,672000,보험 대리 및 중개업,15268,5479489440,48,106,5월,강원도
19,(주)우리은행,1,서울특별시 중구 회현동1가,1,659201,국내은행,14258,5766149920,66,60,5월,서울특별시
20,(주)신한은행,1,서울특별시 중구 태평로2가,1,659201,국내은행,13547,5478181140,221,68,5월,서울특별시
21,현대중공업주식회사,1,울산광역시 동구 전하동,1,351103,선박 구성 부분품 제조업,13433,5588624640,17,68,5월,울산광역시
22,롯데쇼핑(주)롯데마트사업본부,1,서울특별시 송파구 신천동,1,521910,백화점,12895,2904010560,60,99,5월,서울특별시
23,중소기업은행,1,서울특별시 중구 을지로2가,1,659201,국내은행,12522,5058759020,69,86,5월,서울특별시
24,삼성에스디에스(주),1,서울특별시 송파구 신천동,1,722000,응용 소프트웨어 개발 및 공급업,12520,5419496300,26,28,5월,서울특별시
25,기아자동차(주)화성공장,1,경기도 화성시 우정읍,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,12454,5422062740,10,15,5월,경기도
26,한국수력원자력(주),1,경상북도 경주시 양북면,1,401000,태양력 발전업,12340,5029026320,50,62,5월,경상북도
27,주식회사 하나은행,1,서울특별시 중구 을지로1가,1,659201,국내은행,12214,5062911480,101,120,5월,서울특별시
28,삼성전기(주),1,경기도 수원시 영통구 매탄동,1,300100,컴퓨터 제조업,11588,4781356080,98,67,5월,경기도
29,삼성SDI(주),1,경기도 용인시 기흥구 공세동,1,321000,기타 반도체 소자 제조업,11082,4454846960,37,211,5월,경기도
30,주식회사 아성다이소,1,서울특별시 강남구 도곡동,1,521100,슈퍼마켓,11052,1887986500,165,432,5월,서울특별시
31,(주)삼구아이앤씨,1,서울특별시 중구 수표동,1,749300,건축물 일반 청소업,10412,2536176340,399,421,5월,서울특별시
32,주식회사 유베이스,1,서울특별시 용산구 용산동5가,1,749939,그 외 기타 분류 안된 전문 과학 및 기술 서비스업,10186,1739651200,973,647,5월,서울특별시
33,(주)엘지유플러스,1,서울특별시 용산구 한강로3가,1,642001,무선 및 위성 통신업,10181,3861239020,34,78,5월,서울특별시
34,현대모비스(주),1,서울특별시 강남구 역삼동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,10119,4296733040,42,40,5월,서울특별시
35,삼성중공업(주)거제조선소,1,경상남도 거제시 장평동,1,351103,선박 구성 부분품 제조업,9396,3962453120,19,29,5월,경상남도
36,한국토지주택공사,1,경상남도 진주시 충무공동,1,451102,주거용 건물 건설업,9114,3221738520,27,38,5월,경상남도
37,대우조선해양(주),1,경상남도 거제시 아주동,1,351101,강선 건조업,9006,3767329280,37,40,5월,경상남도
38,한국지엠주식회사,1,인천광역시 부평구 청천동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,8846,3857398560,3,9,5월,인천광역시
39,(주)에스텍시스템,1,서울특별시 강남구 개포동,1,749200,경비 및 경호 서비스업,8630,1941520900,478,259,5월,서울특별시
40,엘지이노텍(주),1,서울특별시 강서구 마곡동,1,321000,기타 반도체 소자 제조업,8549,3247514420,22,281,5월,서울특별시
41,삼성전자서비스주식회사,1,경기도 수원시 영통구 원천동,1,922102,기타 일반 기계 및 장비 수리업,8496,2534204800,16,14,5월,경기도
42,아시아나항공(주),1,서울특별시 강서구 오쇠동,1,621000,항공 여객 운송업,8325,3085166920,35,724,5월,서울특별시
43,(주)유니에스,1,서울특별시 강남구 삼성동,1,749100,고용 알선업,8300,1560143240,397,479,5월,서울특별시
44,서울아산병원,1,서울특별시 송파구 풍납동,1,851101,요양병원,8260,3254662500,69,52,5월,서울특별시
45,한국도로공사,1,경상북도 김천시 율곡동,1,630909,그 외 기타 분류 안된 운송관련 서비스업,8216,2859683880,28,107,5월,경상북도
46,(주)아워홈,1,서울특별시 강남구 역삼동,1,552109,기관 구내식당업,8008,1750501640,177,292,5월,서울특별시
47,(주)케이티아이에스,1,서울특별시 영등포구 여의도동,1,642001,무선 및 위성 통신업,7818,1618819260,199,170,5월,서울특별시
48,(주)케이티씨에스,1,대전광역시 서구 괴정동,1,724000,데이터베이스 및 온라인 정보 제공업,7792,1628818080,281,212,5월,대전광역시
50,씨제이제일제당（주）,1,서울특별시 중구 쌍림동,1,154200,설탕 제조업,7470,2575767400,188,116,5월,서울특별시

In [63]:
merged = df[df.mon=='5월'].sort_values(by='total_cnt', ascending=False).head(50).join(
    df[df.mon=='6월'].set_index('company'),
    on="company",
    how="left",
    lsuffix="_before",
    rsuffix="_after"
)
merged

,company,condition_before,street_before,type_before,code_before,code_name_before,total_cnt_before,amt_before,new_cnt_before,loss_cnt_before,...,street_after,type_after,code_after,code_name_after,total_cnt_after,amt_after,new_cnt_after,loss_cnt_after,mon_after,region_after
0,삼성전자(주),1,경기도 수원시 영통구 매탄동,1,323001,비디오 및 기타 영상 기기 제조업,103250,44041891900,1329,440,...,경기도 수원시 영통구 매탄동,1,323001,비디오 및 기타 영상 기기 제조업,103025,43950453000,284,371,6월,경기도
1,현대자동차(주),1,서울특별시 서초구 양재동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,67846,28633518000,253,241,...,서울특별시 서초구 양재동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,67740,28539731280,354,323,6월,서울특별시
2,엘지전자(주),1,서울특별시 영등포구 여의도동,1,293001,주방용 전기 기기 제조업,40201,16477762420,157,217,...,서울특별시 영등포구 여의도동,1,293001,주방용 전기 기기 제조업,40070,16425526440,172,226,6월,서울특별시
3,에스케이하이닉스 주식회사,1,경기도 이천시 부발읍,1,300100,컴퓨터 제조업,27828,11574140540,136,126,...,경기도 이천시 부발읍,1,300100,컴퓨터 제조업,27818,11567455580,121,127,6월,경기도
4,(주)이마트,1,서울특별시 성동구 성수동2가,1,521911,기타 대형 종합 소매업,27414,6386628020,523,324,...,서울특별시 성동구 성수동2가,1,521911,기타 대형 종합 소매업,27389,6383498340,307,320,6월,서울특별시
5,엘지디스플레이(주),1,서울특별시 영등포구 여의도동,1,321000,기타 반도체 소자 제조업,26825,11336706000,180,99,...,서울특별시 영등포구 여의도동,1,321000,기타 반도체 소자 제조업,26726,11290838200,56,105,6월,서울특별시
6,삼성디스플레이(주),1,경기도 용인시 기흥구 농서동,1,323001,비디오 및 기타 영상 기기 제조업,23348,10000116660,113,125,...,경기도 용인시 기흥구 농서동,1,323001,비디오 및 기타 영상 기기 제조업,23261,9964159340,85,163,6월,경기도
7,주식회사 케이티,1,경기도 성남시 분당구 정자동,1,642001,무선 및 위성 통신업,22724,9710283580,49,97,...,경기도 성남시 분당구 정자동,1,642001,무선 및 위성 통신업,22593,9652906540,21,81,6월,경기도
8,한국전력공사,1,전라남도 나주시 빛가람동,1,401000,태양력 발전업,22537,8918895080,43,96,...,전라남도 나주시 빛가람동,1,401000,태양력 발전업,22575,8905570660,106,115,6월,전라남도
9,홈플러스(주),1,서울특별시 강서구 등촌동,1,522071,기타 음ㆍ식료품 위주 종합 소매업,21686,4657510960,117,199,...,서울특별시 강서구 등촌동,1,522071,기타 음ㆍ식료품 위주 종합 소매업,21499,4623608320,135,242,6월,서울특별시
10,(주)엘지화학,1,서울특별시 영등포구 여의도동,1,241302,합성수지 및 기타 플라스틱 물질 제조업,20532,8511804780,13,42,...,서울특별시 영등포구 여의도동,1,241302,합성수지 및 기타 플라스틱 물질 제조업,20489,8493037440,27,65,6월,서울특별시
11,대한항공(주),1,서울특별시 강서구 공항동,1,621000,항공 여객 운송업,18142,7448366920,96,579,...,서울특별시 강서구 공항동,1,621000,항공 여객 운송업,18458,7543740380,401,78,6월,서울특별시
12,(주)포스코,1,경상북도 포항시 남구 괴동동,1,271101,제철업,17417,7387857560,45,80,...,경상북도 포항시 남구 괴동동,1,271101,제철업,17312,7339452520,22,78,6월,경상북도
13,한국철도공사,1,대전광역시 동구 소제동,1,601000,도시철도 운송업,17195,5870655620,82,38,...,대전광역시 동구 소제동,1,601000,도시철도 운송업,17185,5873639060,37,52,6월,대전광역시
14,국민은행(주),1,서울특별시 영등포구 여의도동,1,659900,기타 금융 투자업,16935,6935039420,77,125,...,서울특별시 영등포구 여의도동,1,659900,기타 금융 투자업,16860,6918366720,82,434,6월,서울특별시
15,농협은행주식회사,1,서울특별시 중구 충정로1가,1,659201,국내은행,16743,6452041440,169,135,...,서울특별시 중구 충정로1가,1,659201,국내은행,16992,6530556080,417,201,6월,서울특별시
16,서울교통공사,1,서울특별시 성동구 용답동,1,601000,도시철도 운송업,16453,6548110840,61,71,...,서울특별시 성동구 용답동,1,601000,도시철도 운송업,16553,6558829720,185,85,6월,서울특별시
17,스타벅스커피코리아(주),1,서울특별시 중구 소공동,1,512273,커피 및 차류 도매업,15954,2525880300,236,377,...,서울특별시 중구 소공동,1,512273,커피 및 차류 도매업,16209,2560421640,724,401,6월,서울특별시
18,국민건강보험공단,1,강원도 원주시 반곡동,1,672000,보험 대리 및 중개업,15268,5479489440,48,106,...,강원도 원주시 반곡동,1,672000,보험 대리 및 중개업,15449,5490534600,339,153,6월,강원도
19,(주)우리은행,1,서울특별시 중구 회현동1가,1,659201,국내은행,14258,5766149920,66,60,...,서울특별시 중구 회현동1가,1,659201,국내은행,14227,5755977140,46,212,6월,서울특별시
20,(주)신한은행,1,서울특별시 중구 태평로2가,1,659201,국내은행,13547,5478181140,221,68,...,서울특별시 중구 태평로2가,1,659201,국내은행,13535,5472405540,27,85,6월,서울특별시
21,현대중공업주식회사,1,울산광역시 동구 전하동,1,351103,선박 구성 부분품 제조업,13433,5588624640,17,68,...,울산광역시 동구 전하동,1,351103,선박 구성 부분품 제조업,13291,5527557780,8,88,6월,울산광역시
22,롯데쇼핑(주)롯데마트사업본부,1,서울특별시 송파구 신천동,1,521910,백화점,12895,2904010560,60,99,...,서울특별시 송파구 신천동,1,521910,백화점,12797,2886879800,50,171,6월,서울특별시
23,중소기업은행,1,서울특별시 중구 을지로2가,1,659201,국내은행,12522,5058759020,69,86,...,서울특별시 중구 을지로2가,1,659201,국내은행,12593,5090869020,30,34,6월,서울특별시
24,삼성에스디에스(주),1,서울특별시 송파구 신천동,1,722000,응용 소프트웨어 개발 및 공급업,12520,5419496300,26,28,...,서울특별시 송파구 신천동,1,722000,응용 소프트웨어 개발 및 공급업,12506,5413106620,27,29,6월,서울특별시
25,기아자동차(주)화성공장,1,경기도 화성시 우정읍,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,12454,5422062740,10,15,...,경기도 화성시 우정읍,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,12436,5414169740,1,41,6월,경기도
26,한국수력원자력(주),1,경상북도 경주시 양북면,1,401000,태양력 발전업,12340,5029026320,50,62,...,경상북도 경주시 양북면,1,401000,태양력 발전업,12213,5003714340,20,79,6월,경상북도
27,주식회사 하나은행,1,서울특별시 중구 을지로1가,1,659201,국내은행,12214,5062911480,101,120,...,서울특별시 중구 을지로1가,1,659201,국내은행,12249,5068055580,116,107,6월,서울특별시
28,삼성전기(주),1,경기도 수원시 영통구 매탄동,1,300100,컴퓨터 제조업,11588,4781356080,98,67,...,경기도 수원시 영통구 매탄동,1,300100,컴퓨터 제조업,11674,4795050360,182,74,6월,경기도
29,삼성SDI(주),1,경기도 용인시 기흥구 공세동,1,321000,기타 반도체 소자 제조업,11082,4454846960,37,211,...,경기도 용인시 기흥구 공세동,1,321000,기타 반도체 소자 제조업,10757,4362694540,22,87,6월,경기도
30,주식회사 아성다이소,1,서울특별시 강남구 도곡동,1,521100,슈퍼마켓,11052,1887986500,165,432,...,서울특별시 강남구 도곡동,1,521100,슈퍼마켓,10713,1837481220,277,465,6월,서울특별시
31,(주)삼구아이앤씨,1,서울특별시 중구 수표동,1,749300,건축물 일반 청소업,10412,2536176340,399,421,...,서울특별시 중구 수표동,1,749300,건축물 일반 청소업,10285,2505258400,243,346,6월,서울특별시
32,주식회사 유베이스,1,서울특별시 용산구 용산동5가,1,749939,그 외 기타 분류 안된 전문 과학 및 기술 서비스업,10186,1739651200,973,647,...,서울특별시 용산구 용산동5가,1,749939,그 외 기타 분류 안된 전문 과학 및 기술 서비스업,9904,1691031280,515,635,6월,서울특별시
33,(주)엘지유플러스,1,서울특별시 용산구 한강로3가,1,642001,무선 및 위성 통신업,10181,3861239020,34,78,...,서울특별시 용산구 한강로3가,1,642001,무선 및 위성 통신업,10222,3865300140,45,76,6월,서울특별시
34,현대모비스(주),1,서울특별시 강남구 역삼동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,10119,4296733040,42,40,...,서울특별시 강남구 역삼동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,10152,4307615560,42,51,6월,서울특별시
35,삼성중공업(주)거제조선소,1,경상남도 거제시 장평동,1,351103,선박 구성 부분품 제조업,9396,3962453120,19,29,...,경상남도 거제시 장평동,1,351103,선박 구성 부분품 제조업,9400,3962850880,25,30,6월,경상남도
36,한국토지주택공사,1,경상남도 진주시 충무공동,1,451102,주거용 건물 건설업,9114,3221738520,27,38,...,경상남도 진주시 충무공동,1,451102,주거용 건물 건설업,9387,3285581220,6,33,6월,경상남도
37,대우조선해양(주),1,경상남도 거제시 아주동,1,351101,강선 건조업,9006,3767329280,37,40,...,경상남도 거제시 아주동,1,351101,강선 건조업,8974,3754741740,29,52,6월,경상남도
38,한국지엠주식회사,1,인천광역시 부평구 청천동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,8846,3857398560,3,9,...,인천광역시 부평구 청천동,1,341001,화물 자동차 및 특수 목적용 자동차 제조업,8828,3849178120,1,29,6월,인천광역시
39,(주)에스텍시스템,1,서울특별시 강남구 개포동,1,749200,경비 및 경호 서비스업,8630,1941520900,478,259,...,서울특별시 강남구 개포동,1,749200,경비 및 경호 서비스업,8562,1927339100,310,422,6월,서울특별시
40,엘지이노텍(주),1,서울특별시 강서구 마곡동,1,321000,기타 반도체 소자 제조업,8549,3247514420,22,281,...,서울특별시 강서구 마곡동,1,321000,기타 반도체 소자 제조업,8020,3121446340,23,64,6월,서울특별시
41,삼성전자서비스주식회사,1,경기도 수원시 영통구 원천동,1,922102,기타 일반 기계 및 장비 수리업,8496,2534204800,16,14,...,경기도 수원시 영통구 원천동,1,922102,기타 일반 기계 및 장비 수리업,8478,2530942920,11,21,6월,경기도
42,아시아나항공(주),1,서울특별시 강서구 오쇠동,1,621000,항공 여객 운송업,8325,3085166920,35,724,...,서울특별시 강서구 오쇠동,1,621000,항공 여객 운송업,8343,3080986880,765,73,6월,서울특별시
43,(주)유니에스,1,서울특별시 강남구 삼성동,1,749100,고용 알선업,8300,1560143240,397,479,...,서울특별시 강남구 삼성동,1,749100,고용 알선업,8001,1500713560,305,1117,6월,서울특별시
44,서울아산병원,1,서울특별시 송파구 풍납동,1,851101,요양병원,8260,3254662500,69,52,...,서울특별시 송파구 풍납동,1,851101,요양병원,8388,3299618080,39,69,6월,서울특별시
45,한국도로공사,1,경상북도 김천시 율곡동,1,630909,그 외 기타 분류 안된 운송관련 서비스업,8216,2859683880,28,107,...,경상북도 김천시 율곡동,1,630909,그 외 기타 분류 안된 운송관련 서비스업,8613,2920438240,507,45,6월,경상북도
46,(주)아워홈,1,서울특별시 강남구 역삼동,1,552109,기관 구내식당업,8008,1750501640,177,292,...,서울특별시 강남구 역삼동,1,552109,기관 구내식당업,7636,1690942120,157,419,6월,서울특별시
47,(주)케이티아이에스,1,서울특별시 영등포구 여의도동,1,642001,무선 및 위성 통신업,7818,1618819260,199,170,...,서울특별시 영등포구 여의도동,1,642001,무선 및 위성 통신업,7980,1645434280,253,280,6월,서울특별시
48,(주)케이티씨에스,1,대전광역시 서구 괴정동,1,724000,데이터베이스 및 온라인 정보 제공업,7792,1628818080,281,212,...,대전광역시 서구 괴정동,1,724000,데이터베이스 및 온라인 정보 제공업,7816,1630873640,258,231,6월,대전광역시
50,씨제이제일제당（주）,1,서울특별시 중구 쌍림동,1,154200,설탕 제조업,7470,2575767400,188,116,...,서울특별시 중구 쌍림동,1,154200,설탕 제조업,7678,2608722760,217,145,6월,서울특별시

In [64]:
merged[['company','total_cnt_before', 'total_cnt_after', 'mon_before', 'mon_after']]

            company  total_cnt_before  total_cnt_after mon_before mon_after
0           삼성전자(주)            103250           103025         5월        6월
1          현대자동차(주)             67846            67740         5월        6월
2           엘지전자(주)             40201            40070         5월        6월
3     에스케이하이닉스 주식회사             27828            27818         5월        6월
4            (주)이마트             27414            27389         5월        6월
5        엘지디스플레이(주)             26825            26726         5월        6월
6        삼성디스플레이(주)             23348            23261         5월        6월
7          주식회사 케이티             22724            22593         5월        6월
8            한국전력공사             22537            22575         5월        6월
9           홈플러스(주)             21686            21499         5월        6월
10          (주)엘지화학             20532            20489         5월        6월
11          대한항공(주)             18142            18458         5월        6월
12           (주)포스코             17417            17312         5월        6월
13           한국철도공사             17195            17185         5월        6월
14          국민은행(주)             16935            16860         5월        6월
15         농협은행주식회사             16743            16992         5월        6월
16           서울교통공사             16453            16553         5월        6월
17     스타벅스커피코리아(주)             15954            16209         5월        6월
18         국민건강보험공단             15268            15449         5월        6월
19          (주)우리은행             14258            14227         5월        6월
20          (주)신한은행             13547            13535         5월        6월
21        현대중공업주식회사             13433            13291         5월        6월
22  롯데쇼핑(주)롯데마트사업본부             12895            12797         5월        6월
23           중소기업은행             12522            12593         5월        6월
24       삼성에스디에스(주)             12520            12506         5월        6월
25     기아자동차(주)화성공장             12454            12436         5월        6월
26       한국수력원자력(주)             12340            12213         5월        6월
27        주식회사 하나은행             12214            12249         5월        6월
28          삼성전기(주)             11588            11674         5월        6월
29         삼성SDI(주)             11082            10757         5월        6월
30       주식회사 아성다이소             11052            10713         5월        6월
31        (주)삼구아이앤씨             10412            10285         5월        6월
32        주식회사 유베이스             10186             9904         5월        6월
33        (주)엘지유플러스             10181            10222         5월        6월
34         현대모비스(주)             10119            10152         5월        6월
35    삼성중공업(주)거제조선소              9396             9400         5월        6월
36         한국토지주택공사              9114             9387         5월        6월
37        대우조선해양(주)              9006             8974         5월        6월
38         한국지엠주식회사              8846             8828         5월        6월
39        (주)에스텍시스템              8630             8562         5월        6월
40         엘지이노텍(주)              8549             8020         5월        6월
41      삼성전자서비스주식회사              8496             8478         5월        6월
42        아시아나항공(주)              8325             8343         5월        6월
43          (주)유니에스              8300             8001         5월        6월
44           서울아산병원              8260             8388         5월        6월
45           한국도로공사              8216             8613         5월        6월
46           (주)아워홈              8008             7636         5월        6월
47       (주)케이티아이에스              7818             7980         5월        6월
48        (주)케이티씨에스              7792             7816         5월        6월
50       씨제이제일제당（주）              7470             7678         5월        6월

In [65]:
import scipy.stats as stats

In [66]:
stats.ttest_rel(merged['total_cnt_before'], merged['total_cnt_after'])

Ttest_relResult(statistic=1.1441235266636787, pvalue=0.2581308740661571)

In [ ]:
# total_cnt 의 평균이 같다는 귀무가설을 기각하지 못한다.